.input-area {
    position: absolute;
    width: 554px;
    height: 587px;
    left: 676px;
    top: 162px;
    
    background: linear-gradient(209.98deg, #449AD8 6.44%, #640E56 102.02%);
    border-radius: 30px;  
  }
  
  .receiver-wallet-connect-button {
    margin-left: 100px;
    margin-top: -10px;
  }
  
  .invalid-message {
    position: absolute;
    width: 503px;
    height: 56px;
    left: 10px;
    top: 10px;    
  }

  .invite-message {
    position: absolute;
    width: 503px;
    height: 56px;
    left: 10px;
    top: 10px;    
  }

  .step1-message-left {
    position: absolute;
    width: 78px;
    height: 31px;
    left: 30px;
    top: 120px;     
  }

  .step1-message-right {
    position: absolute;
    width: 450px;
    height: 31px;
    left: 100px;
    top: 120px;   
  }

  .step2-message-left {
    position: absolute;
    width: 78px;
    height: 31px;
    left: 30px;
    top: 300px;    
  }

  .step2-message-right {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 50px;
    top: 300px;    
  }

  .step3-message-left {
    position: absolute;
    width: 78px;
    height: 31px;
    left: 30px;
    top: 400px;    
  }

  .step3-message-right {
    position: absolute;
    width: 321px;
    height: 55px;
    left: 50px;
    top: 400px;    
  }

  .step3-success-logo {
    position: absolute;
    width: 109px;
    height: 109px;
    left: 100px;
    top: -30px;
  }
  