
.input-area {
  position: absolute;
  width: 554px;
  height: 587px;
  left: 676px;
  top: 162px;
  
  background: linear-gradient(209.98deg, #449AD8 6.44%, #640E56 102.02%);
  border-radius: 30px;  
}

.sender-wallet-connect-button {
  margin-left: 180px;
  margin-top: 10px;
}

.input-field {  
  background: rgba(0, 0, 0, 0.26);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 20px; 
}

.your-name-text {
  position: absolute;
  width: 115px;
  height: 28px;
  left: 50px;
  top: 100px;
}

.your-name-input {
  position: absolute;
  width: 241px;
  height: 55px;
  left: 250px;
  top: 90px;
}

.recipient-name-text {
  position: absolute;
  width: 181px;
  height: 28px;
  left: 50px;
  top: 200px;
}

.recipient-name-input {
  position: absolute;
  width: 241px;
  height: 55px;
  left: 250px;
  top: 190px;
}

.samo-to-send-text {
  position: absolute;
  width: 166px;
  height: 28px;
  left: 50px;
  top: 300px;
}

.samo-to-send-input {
  position: absolute;
  width: 241px;
  height: 55px;
  left: 250px;
  top: 290px;
}

.send-samo-button {
  position: absolute;
  width: 365px;
  height: 65px;
  left: 100px;
  top: 450px;
}

.send-samo-button:enabled {
  background: #FF60FD;
  border: 1px solid #FF60FD;
  box-sizing: border-box;
  border-radius: 32px;  
}

.send-samo-button:disabled {
  background: rgba(115, 77, 114, 0.3);
  border: 1px solid rgba(255, 96, 253, 0.3);
  box-sizing: border-box;
  border-radius: 32px;

  color: rgba(255, 255, 255, 0.3);
}

.success-logo {
  position: absolute;
  width: 179px;
  height: 179px;
  left: 170px;
  top: 170px;

  background: url(../assets/success_logo.png);
}

.success-message {
  position: absolute;
  width: 412px;
  height: 28px;
  left: 50px;
  top: 350px;
}

.share-link-field {
  position: absolute;
  width: 444px;
  height: 60px;
  left: 50px;
  top: 400px;
  
  background: rgba(0, 0, 0, 0.26);
  border: 1px solid #FF60FD;
  box-sizing: border-box;
  border-radius: 14px;  
}

.share-link-text {
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 28px;
  
  color: #00BEE8;
}

.friend-installs-message {
  position: absolute;
  left: 150px;
  top: 520px; 
  text-align: center;
}