.header {
  height: 75px;
  background: #1D233E;
  align-content: center;
  text-align: center;
}

.content {
  align-content: center;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100%;
  background: #1D233E;
  align-content: center;
  text-align: center;
}

.small-text {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: #1EA8E3;
}

.medium-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #FFFFFF;
}

.large-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #FFFFFF;
}

.link-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  color: #FFFFFF;

}

.input-area {
  background: linear-gradient(209.98deg, #449AD8 6.44%, #640E56 102.02%);
  border-radius: 30px;
  margin: 30px;
}

.input-field {  
  background: rgba(0, 0, 0, 0.26);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 10px; 
}

.button:enabled {
  background: #FF60FD;
  border: 1px solid #FF60FD;
  box-sizing: border-box;
  border-radius: 32px;  
}

.button:disabled {
  background: rgba(115, 77, 114, 0.3);
  border: 1px solid rgba(255, 96, 253, 0.3);
  box-sizing: border-box;
  border-radius: 32px;

  color: rgba(255, 255, 255, 0.3);
}
