.header {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 2px;
  background: #1D233E;
}

.link-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  color: #FFFFFF;

}

.welcome-party-logo-header {
  position: absolute;
  width: 188px;
  height: 35px;
  left: 139px;
  top: 21px;

  background: url(assets/welcome_party_logo_header.png);
}

.list-voucher-header-link {
  position: absolute;
  width: 150px;
  height: 16px;
  left: 1115px;
  top: 30px;
}
